Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

TASK-1

In [ ]:
diction={
    "name":['RAGHAV','RAHUL','ROHAN','RAKESH','Naman','Ashihsh','Aritra','Akshat','Aniket','Astha'],
    "marks":[12,23,45,67,99,12,34,56,34,67],
    "city":["KOLKATA","DELHI","CHENNAI","MUMBAI","Hydrebad","Vellore","Ranchi","Jharkhand","UttarPradesh","Kerala"],
    "CGPA":[9.9,10,8,8,np.nan,8.5,8.9,9,9,9.5],
    "Age":[12,45,67,43,89,76,45,33,44,88]

}
df=pd.DataFrame(diction)
df

      name  marks          city  CGPA  Age
0   RAGHAV     12       KOLKATA   9.9   12
1    RAHUL     23         DELHI  10.0   45
2    ROHAN     45       CHENNAI   8.0   67
3   RAKESH     67        MUMBAI   8.0   43
4    Naman     99      Hydrebad   NaN   89
5  Ashihsh     12       Vellore   8.5   76
6   Aritra     34        Ranchi   8.9   45
7   Akshat     56     Jharkhand   9.0   33
8   Aniket     34  UttarPradesh   9.0   44
9    Astha     67        Kerala   9.5   88

TASK-2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   marks   10 non-null     int64
 2   city    10 non-null     object
 3   CGPA    9 non-null      float64
 4   Age     10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

Task-3

In [ ]:
df.describe()

           marks       CGPA        Age
count  10.000000   9.000000  10.000000
mean   44.900000   8.977778  54.200000
std    27.706598   0.734469  24.992443
min    12.000000   8.000000  12.000000
25%    25.750000   8.500000  43.250000
50%    39.500000   9.000000  45.000000
75%    64.250000   9.500000  73.750000
max    99.000000  10.000000  89.000000

Task-4

In [ ]:
gd=df.loc[4]

In [ ]:
gd

name        Naman
marks          99
city     Hydrebad
CGPA          NaN
Age            89
Name: 4, dtype: object

Task-5

In [ ]:
ar=df.isnull()
ar

    name  marks   city   CGPA    Age
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False   True  False
5  False  False  False  False  False
6  False  False  False  False  False
7  False  False  False  False  False
8  False  False  False  False  False
9  False  False  False  False  False